<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-input label="Usuario" label-placement="floating" type="text" placeholder="Ingrese su usuario. Ej: subrosa" [(ngModel)]="usuario1"></ion-input>
  </ion-item>


  <ion-item>
    <ion-input label="Contraseña" label-placement="floating" type="password" placeholder="Ingrese su contraseña." [(ngModel)]="contrasena1"></ion-input>
  </ion-item>


  <br>

  <ion-item>
    <ion-button class="color" (click)="validarUsuario()">
    <ion-icon slot="start" name="log-in-outline"></ion-icon>Acceder</ion-button>
  </ion-item>
  
</ion-content>
