  <!-- header -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Habitos</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- inicio de codigo -->

<ion-content color="light">
  <ion-list [inset]="true">

    <ion-item>
      <ion-label position="floating">Lista</ion-label>
      <ion-input [(ngModel)]="nombreUsuario"></ion-input>
    </ion-item>

    <ion-button (click)="agregarUsuario()">Guardar </ion-button>

    <ion-button (click)="limpiarDatos()">Limpiar </ion-button>

    <ion-list>
      <!--var = deprecated // let -->
      <ion-item *ngFor="let usuarioEncontrado of usuarios">
        <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
        <p>{{usuarioEncontrado.nombre}}</p>
      </ion-item>
    </ion-list>

  <!-- //////////////////////////////////////////////////////////////// -->

    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Leer 30 minutos al día"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Ejercicio diario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Beber 8 vasos de agua"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Hora de estudio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Cuidado personal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Jugar lol"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Hora de Meditación "></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<!-- boton + -->
<ion-fab horizontal="end" vertical="bottom" slot="fixed" class="toolbar-fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- footer -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button >
      <ion-icon name="home" (click)="menuPrincipal()"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="barbell" (click)="menuHabitos()"></ion-icon>
      Habitos
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="library" (click)="menuActividad()"></ion-icon>
      Actividad
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="exit" (click)="cerrarSesion()"></ion-icon>
      Cerrar sesion
    </ion-tab-button>
  </ion-tab-bar>
